@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*초기화*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}
html,body{
  width: 100%;
  height: 100%;
  background-color: rgba(231, 255, 244, 0.1);
}
#btnGoTop{
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 30px;
  right: 0px;
  width: 100vw;
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 400ms ease-in-out;
}
#btnGoTop > div{
  width: 980px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: right;

}
#btnGoTop > div > a{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#btnGoTop > div > a > img{
  width: 92px;
  transition: all 400ms ease-in-out;
}
#btnGoTop > div > a > img:hover{
  filter: contrast(110%);
}
#btnGoTop.show{
  opacity: 1;
  visibility: visible;
}
