#header_container{
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header_container #header_menu_wraper{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

#header_container #header_logo_wraper img{
  scale: 80%;
  cursor: pointer;
  transition: all 400ms;
}
#header_container #header_logo_wraper img:hover{
  filter: contrast(120%);
}
#header_container #header_menu_wraper .header_menu{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header_container #header_menu_wraper .header_menu_text{
  margin: 0.5rem 0.5rem 0 0.5rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgb(187, 187, 187);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 400ms;
  color: black;
}
#header_container #header_menu_wraper .header_menu_text:hover{
  border: 0px;
  background-color: rgb(87, 87, 87);
  color: white;
}

#header_container #header_menu_wraper .header_menu .header_icon{
  scale: 180%;
}

#header_container #header_menu_wraper .header_menu p{
  margin-top: 4px;
  font-size: 14px;
  text-align: center;
}